<div class="content-wrapper">
  <p>
    Ghostly music from Phoenix, Arizona. Debut EP coming soon.
  </p>
  <p>
    Sign up for our mailing list to be the first to know when its ready.
  </p>
  <form id="signup">
    <input type="text" id="email" placeholder="email@address.com">
    <input id="submit" type="submit" value="Sign me up">
  </form>
  <div id="msg"></div>
  <img id="loader" alt="Loading" src="images/loader.gif" hidden>
</div>
