<div class="content-wrapper">
  <p>
    Ghostly music from Phoenix, Arizona. Debut EP coming soon.
  </p>
  <p>
    Sign up for our mailing list to be the first to know when its ready.
  </p>
  <form>
    <input type="text" placeholder="email@address.com">
    <input type="button" value="Sign me up">
  </form>
</div>
