@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

body {
  display: flex;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #522C1C;
  background-color: #F7F2EB
}

a {
  color: #00b7ff;
}

p {
    font-size: 2em;
    font-weight: 300;
}

.header-wrapper {
    display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
}

h1 {
    height: 80px;
    margin: 0;
    font: 5em 'LeagueSpartan';
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    position: relative;
    right: 6px;
    float: right;
}

nav a {
    position: relative;
    bottom: 1px;
    color: #522C1C;
    text-decoration: none;
}

nav a:hover {
    color: rgba(255, 0, 200, 0.83);
}
