@font-face {
    font-family: 'LeagueSpartan';
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

body {
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #522C1C;
  background-color: #F7F2EB;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
}

a {
  color: #00b7ff;
}

p {
    font-size: 2em;
    font-weight: 300;
}

.header-wrapper {
    display: inline-block;
}

.container {
    height: 400px;
    margin: 100px auto;
}

h1 {
    height: 80px;
    margin: 0;
    font: 5em 'LeagueSpartan';
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    position: relative;
    right: 8px;
    float: right;
}

nav a {
    position: relative;
    bottom: 1px;
    color: #522C1C;
    text-decoration: none;
}

nav a:hover {
    color: rgba(255, 0, 200, 0.83);
}

@media (max-width:900px) {
    p {
        font-size: 1.6em;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 3.8em;
        height: 60px;
    }
    p {
        font-size: 1.6em;
    }
}

@media (max-width:480px) {
    h1 {
        font-size: 2.8em;
        height: 45px;
    }

    p {
        font-size: 1.3em;
    }
}

